<script src="/ejs.min.js"></script>
<script>
    let renderList = {}
</script>

<aside class="fixed-l fixed-m sidebar h-100 bg-granite-gray br b--black-30 bw1">
    <%- include('../../logo/logo.ejs') %>
    <div class=" flex flex-column mv4">
        <% for(const section in data ) { %>
        <button data-model="<%= section %>"
            class="sidebar-button bg-transparent bw0 f4 center pa2 ierie-black pointer br2 mv2-l mv2-m <%= section.toLowerCase() === 'user' ? "active " : "" %> "
            onclick="sidebar_button_handler(this)"><i class="bi <%= data[section].logo %>"></i></button>
        <script>
            renderList['<%= section %>'] = `<%- include('../content/content.ejs',
                {
                    section :  data[section]
                }) %>`;
        </script>
        <% } %>
    </div>
</aside>